:root {
    --brand-color: #212121;
    --brand-blue-color: #2196F3;
    --brand-white-color: #ffffff; 
}


body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--brand-white-color);
    color: var(--brand-color)
    font-size: 14px;
    letter-spacing: 0.03em;
}


ul {
    margin: 0;
    list-style: none;
}


.logo-header {font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color:var(--brand-blue-color);
}
    
    .logo-accent1 {
        color: var(--brand-color);
    }

    .logo-footer {font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        color:var(--brand-blue-color);
    }
        
        .logo-accent {color:var(--brand-white-color);
        }


address {
    font-style: normal;
}


.more--studio--portfolio:hover {
    color:var(--brand-blue-color);
}
.more--studio--portfolio:focus {
    color:var(--brand-blue-color);
}

.more--studio--portfolio{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;

color:var(--brand-color);
text-decoration: none;
}



.more--email1:hover {
    color:var(--brand-blue-color);
}
.more--email1:focus {
    color:var(--brand-blue-color);
}

.more--email1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color:#757575; 
    text-decoration: none;
}

.more--portfolio--studio:hover {
    color:var(--brand-blue-color);
}
.more--portfolio--studio:focus {
    color:var(--brand-blue-color);
}


.more--portfolio--studio{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--brand-color); 
    text-decoration: none;
}

.more--contacts:hover {
    color:var(--brand-blue-color);
}
.more--contacts:focus {
    color:var(--brand-blue-color);
}

.more--contacts{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--brand-color); 
    text-decoration: none;
}


.more--tel1:hover {
    color:var(--brand-blue-color);
}
.more--tel1:focus {
    color:var(--brand-blue-color);
}

.more--tel1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
    
}

.more--email--tel2:hover {
    color:var(--brand-blue-color);
}
.more--email--tel2:focus {
    color:var(--brand-blue-color);
}

.more--email--tel2 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



.btn2--all:hover {
    background-color: #188CE8;
}
.btn2--all:focus {
    background-color: #188CE8;
}

.btn2--all {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color:var(--brand-blue-color);

    color:var(--brand-white-color);
}


.footer {
    /* Footer bg */
background: #2F303A;
}


.footer-adress:hover {
    color:var(--brand-blue-color);
}
.footer-adress:focus {
    color:var(--brand-blue-color);
}

.footer-adress {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;
text-decoration: none;

color:var(--brand-white-color);
}


.footer--email:hover {
    color:var(--brand-blue-color);
}
.footer--email:focus {
    color:var(--brand-blue-color);
}

.footer--email {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.6);
}


.footer--tel:hover {
    color:var(--brand-blue-color);
}
.footer--tel:focus {
    color:var(--brand-blue-color);
}

.footer--tel {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;
text-decoration: none;

color: rgba(255, 255, 255, 0.6);
}

.body--color {
    background: #E5E5E5;
}


.button--2:hover {
    color: var(--brand-blue-color);
}
.button--2:focus {
    color: var(--brand-blue-color);
}


.button--2 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--brand-color);
    background-color: #F5F4FA;
}



.items {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.03em;
    
    color: #757575;
}


.items--2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    
    color: #757575;
}

.subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color: var(--brand-color);
}

.title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color:var(--brand-white-color);
}

.section--color{
background-color: #2F303A;
}

.btn--service {
    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
cursor: pointer;
color:var(--brand-white-color);
background-color:var(--brand-blue-color);
}

.btn--service:hover {
    background-color: #188CE8;
}
.btn--service:focus {
    background-color: #188CE8;
}



  .subtitle--text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--brand-color);
  }


.team {
background-color: #F5F4FA;
}


.heading {
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;

color: var(--brand-color);
}

.caption {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color:var(--brand-color);
}



