body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.00em;
}


ul {
    margin: 0;
    list-style: none;
}


.test {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1,2;
letter-spacing: 0.02em;

color: #2196F3;
}


.test2:hover {
    background-color: #188CE8;
}
.test2:focus {
    background-color: #188CE8;
}

.test2 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1,6;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: #2196F3;

    color: #FFFFFF;
}

.test1 {
font-size: 16px;
line-height: 1,6;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}


.test4 {
    /* Footer bg */


background: #2F303A;
}


.test5:hover {
    background-color: #2196F3;
}
.test5:focus {
    background-color: #2196F3;
}

.test5 {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1,7;
/* or 171% */

letter-spacing: 0.03em;
text-decoration: none;

color: #FFFFFF;
}


.test6:hover {
    background-color: #2196F3;
}
.test6:focus {
    background-color: #2196F3;
}

.test6 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    /* or 171% */
    
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.6);
}


.test7:hover {
    background-color: #2196F3;
}
.test7:focus {
    background-color: #2196F3;
}

.test7 {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1,7;
/* or 171% */

letter-spacing: 0.03em;
text-decoration: none;

color: rgba(255, 255, 255, 0.6);
}

.test8 {
    background: #E5E5E5;
}


.test9:hover {
    background-color: #F5F4FA;
}
.test9:focus {
    background-color: #F5F4FA;
}


.test9 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1,6;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
}

.test10:hover {
    background-color: #2196F3;
}
.test10:focus {
    background-color: #2196F3;
}


.test10 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    
    color: #212121; 
}

.test11 {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1,19;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
text-decoration: none;
}


.test12:hover {
    background-color: #2196F3;
}
.test12:focus {
    background-color: #2196F3;
}

.test12 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    
    color: #757575;
    
}

.test13 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,87;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}

.test14 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color: #212121;
}

.test15 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    /* or 136% */
    text-transform: uppercase;
    color: #FFFFFF;
}

.test17{
background-color: #2F303A;
}

.test18 {
    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1,87;
letter-spacing: 0.00em;
cursor: pointer;
color: #FFFFFF;
background-color: #2196F3;
}

.test18:hover {
    background-color: #188CE8;
}
.test18:focus {
    background-color: #188CE8;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .test19 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
  }


.test20 {
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1,16;
letter-spacing: 0.03em;

color: #212121;
}

.test21 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #212121; 
}



